/* general items */
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: hsl(0, 5%, 80%);
    background-image: url("asset/nikita-kachanovsky-OVbeSXRk_9E-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Open Sans', 'Merriweather', 'Arial';
    margin: 0px auto;
    padding: 0px;
    min-height: 100%;
    width: 100%;
    letter-spacing: 1px;
}

/* navbar for web browsers */
nav {
    background-color: hsla(0, 0%, 100%, 0.6);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Bebas Neue', 'Roboto', 'Open Sans', 'Arial';
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    align-items: center;
}

nav li {
    height: 50px;
}

nav li:first-child {
    margin-right: auto;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #000;
    text-shadow: 1px 1px 2px #b0b0be;
}

nav a:hover {
    background-color: #f0f0f0;
}

nav a:active {
    background-color: #6d6d6d;
}

/* sidebar navbar for mobile */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    z-index: 999;
    background-color: #ffffff75;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;

}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

@media(max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }
}

/* hero section with introduction */
header {
    background-color: hsla(0, 100%, 100%, 0.8);
    align-items: center;
    margin: 100px 100px;
    display: flex;
    box-shadow: 5px 5px 2px #000;
    overflow: wrap;
    padding: 50px;
    opacity: 0;
    transform: translateY(-50px);
    animation: fallIn 1s ease-out forwards;
}

@keyframes fallIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.introduction-text {
    display: inline-block;
    font-family: 'Bebas Neue', 'Metrophobic', 'Roboto', 'Open Sans', 'Arial';
    text-align: left;
    align-items: center !important;
    width: 65%;
    height: 100%;
    margin: 20px auto;
}

#hero h2 {
    font-size: 36px;
}

#hero h1 {
    font-size: 72px;
}

#hero p {
    font-size: 24px;
}

#hero .education {
    margin-top: 30px;
}

#hero .education h2{
    font-family: 'Bebas Neue', 'Metrophobic', 'Roboto', 'Open Sans', 'Arial';
}

#hero .date {
    font-size: 20px;
}

.short-description {
    font-family: 'TikTok Sans';
    letter-spacing: 0px;
    font-size: small;
    overflow: hidden;
}

.portrait {
    display: relative;
    vertical-align: top;
    border-radius: 50%;
    border: 1px solid #3d3d3d;
    box-shadow: 0px 0px 15px #0f0f0f;
    align-items: center;
    vertical-align: middle;
    width: 375px;
    margin: 20px 30px 30px 50px;
}

.portrait:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.8);
    transition: all 0.5s ease;
}

.section-title {
    font-family: 'Bebas Neue', 'Roboto', 'Open Sans', 'Arial';
}

/* about me section */
#about {
    display: block;
    width: 100%;
    margin: 0px auto;
    padding: 20px 0px;
    background-color: #fff;
}

#about .text-content {
    margin: 0px 30px;
}

#about p {
    font-family: 'Roboto', 'Open Sans', 'Arial';
    line-height: 22px;
    margin: 10px auto;
    width: 100%;
    text-align: justify;
    overflow: hidden;
}

/* experience section */
#experience {
    background-color: #f2f2f2;
    display: block;
    width: 100%;
    margin: 0px auto;
    padding: 20px 0px;
}

#experience .text-content {
    margin: 0px 30px;
}

#experience h2 {
    margin: 10px auto;
}

#experience h3 {
    font-family: 'Metrophobic', 'Open Sans', 'Arial';
    margin: 0px;
}

#experience ul {
    margin: 10px 30px;
    font-family: 'Roboto', 'Open Sans', 'Arial';
}

/* skills and tools section */
#skills-and-tools {
    display: block;
    background-color: #ffffff;
    width: 100%;
    margin: 0px auto;
    padding: 20px 0px;
    font-family: 'Bebas Neue', 'Roboto', 'Open Sans', 'Arial';
    font-size: 20px;
}

#skills-and-tools h2, h3 {
    margin: 8px 30px;
}

#skills-and-tools img {
    height: 75px;
}

#skills-and-tools figure {
    text-align: center;
    margin-right: 20px;
    margin-bottom: 10px;
}

.toolset {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;
    margin: 0.5em 25px;
}

/* contact form */
#contact-message-form {
    display: block;
    background-color: #f2f2f2;
    width: 100%;
    padding: 25px 0px;
    line-height: 2.2em;
}

#contact-message-form .contact-title, form {
    font-family: 'Bebas Neue', 'Roboto', 'Open Sans', 'Arial';
    margin-left: 20px;
}

#contact-message-form p {
    font-family: 'Roboto', 'Open Sans', 'Arial';
}

#contact-message-form .contact-title {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

#contact-message-form hr {
    border: none;
    width: 500px;
    height: 5px;
    background-color: #0d0d0d;
    border-radius: 30px;
    margin-bottom: 10px;
}

#contact-message-form form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

.contact-inputs {
    width: 400px;
    height: 25px;
    outline: #000;
    font-weight: 500;
    border: 1px solid hsla(0, 0%, 30%, 0.4);
    border-radius: 5px;
    padding-left: 5px;
    font-size: 15px;
    font-family: 'Roboto', 'Open Sans', 'Arial';
}

#contact-message-form label {
    font-size: 20px;
}

.contact-inputs:focus {
    border: 1px solid #0f0f0f;
}

.contact-inputs::placeholder {
    color: #a1a1a1;
}

#contact-message-form textarea {
    height: 200px;
    width: 500px;
    padding-top: 5px;
}

#contact-message-form button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 24px;
    font-family: 'Bebas Neue', 'Roboto', 'Open Sans', 'Arial';
    color: #000;
    gap: 10px;
    border: 1px solid #a9a9a9;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px;
    background: linear-gradient(155deg, #0f0f0f, #a9a9a9, #fff, #a9a9a9, #fff);
    cursor: pointer;
    margin-top: 10px;
}

#contact-message-form button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.288);
    transition: all 0.5s ease;
}

#contact-message-form button img {
    height: 30px;
}

/* footer with contact information*/
footer {
    display: block;
    background-color: #f0f0f0f0;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    margin: auto;
    padding: 20px 0px;
    opacity: 90%
}

.contact-information {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 5px;
    font-family: 'Bebas Neue';
    font-size: 20px;
    text-align: center;
}

.media-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 18px;
}

.contact-information img {
    height: 40px;
}

.contact-information a {
    font-size: 18px;
    color: #000;
    text-decoration: none;;
}